body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/pexels-codioful-7130475.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
}

#main-div {
    color: white;
    height: 100vh;
}

div {
    color: white;
}

.container {
    width: 70%;
    padding: 40px;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    text-align: center;
    color: white;
}

#playlist {
    margin-top: 20px;

}
